language: node_js
node_js:
- '8.9.0'
services:
- postgresql
before_script:
- psql -c 'create database google_translate_server;' -U postgres
addons:
  postgresql: "11"
env:
- PORT=9333 CLIENT_BASE_DOMAIN=http://localhost:5000 ENABLE_PSQL=true DATABASE_URL=postgresql://postgres:1234@localhost/google_translate_server
